<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orpheus AI Demo</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="demo-flex-spacer"></div>

        <h1 class="demo">Orpheus AI</h1>

        <form class="form">
            <div class="webpage-style-input-combined">
                <div class="webpage-style-input">
                    <textarea name="lyrics" class="textarea" rows="50" cols="50" placeholder="Enter text"></textarea>
                </div>
                <button type="submit">Submit</button>
            </div>
        </form>

        <ul class="genres">
            <!--<li>-->
            <!--    <span class="genre-name">Test</span>-->
            <!--    <span class="genre-score">10</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--    <span class="genre-name">Test2</span>-->
            <!--    <span class="genre-score">20</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--    <span class="genre-name">Test3</span>-->
            <!--    <span class="genre-score">30</span>-->
            <!--</li>-->
        </ul>

        <div class="demo-flex-spacer"></div>

      </div>

      <script>
        const formElem = document.querySelector('.form');
        const listElem = document.querySelector('ul');

        // Finds the top N genres that lyrics are most similar to
        const topGenres = (obj, num = 1) => {
            const requiredObj = {};
            if(num > Object.keys(obj).length){
                return false;
            };
            Object.keys(obj).sort((a, b) => obj[b] - obj[a]).forEach((key, ind) =>
            {
                if(ind < num){
                    requiredObj[key] = obj[key];
                }
            });
            return requiredObj;
        };

        formElem.addEventListener('submit', event => {
            event.preventDefault();

            const formData = new FormData(formElem);
            console.log(formData.get('lyrics'))

            const data = {"lyrics": formData.get('lyrics')};

            fetch('https://evankozierok.pythonanywhere.com/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(res => res.json())
              .then(data => {
                  console.log(data);
                //   console.log(topGenres(data, 3))

                // Find the top 3 genres to display on webpage
                displayGenres = topGenres(data, 3);

                // Clear the list before inserting next batch of genres into HTML
                listElem.innerHTML = "";

                for (const key of Object.keys(displayGenres)) {
                    listElem.insertAdjacentHTML('beforeEnd', `<li><span class="genre-name">${key}</span><span class="genre-score">${displayGenres[key]}</span></li>`);
                };
              })
              .catch(error => console.log(error))
        })
      </script>
</body>
</html>