<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orpheus AI Demo</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">

        <div class="demo-flex-spacer"></div>

        <h1 class="demo">Orpheus AI</h1>

        <form class="form">
            <div class="webpage-style-input-combined">
                <div class="webpage-style-input">
                    <textarea name="lyrics" class="textarea" rows="50" cols="50" placeholder="Enter text"></textarea>
                </div>
                <button type="submit">Submit</button>
            </div>
        </form>

        <ul class="genres">
            <!--<li>-->
            <!--    <span class="genre-name">Test</span>-->
            <!--    <span class="genre-score">10</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--    <span class="genre-name">Test2</span>-->
            <!--    <span class="genre-score">20</span>-->
            <!--</li>-->
            <!--<li>-->
            <!--    <span class="genre-name">Test3</span>-->
            <!--    <span class="genre-score">30</span>-->
            <!--</li>-->
        </ul>

        <div class="chart-container">
            <canvas id="genre-chart" width="300" height="300"></canvas>
        </div>

        <div class="demo-flex-spacer"></div>

      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        const formElem = document.querySelector('.form');
        const listElem = document.querySelector('ul');

        // Finds the top N genres that lyrics are most similar to
        const topGenres = (obj, num = 1) => {
            const requiredObj = {};
            if(num > Object.keys(obj).length){
                return false;
            };
            Object.keys(obj).sort((a, b) => obj[b] - obj[a]).forEach((key, ind) =>
            {
                if(ind < num){
                    requiredObj[key] = obj[key];
                }
            });
            return requiredObj;
        };

        formElem.addEventListener('submit', event => {
            event.preventDefault();

            const formData = new FormData(formElem);
            console.log(formData.get('lyrics'))

            const data = {"lyrics": formData.get('lyrics')};

            // Change cursor to loading wheel while model runs
            document.body.className = 'waiting';

            fetch('https://evankozierok.pythonanywhere.com/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }).then(res => res.json())
              .then(data => {
                  console.log(data);
                //   console.log(topGenres(data, 3))

                // Find the top 5 genres to display on webpage
                displayGenres = topGenres(data, 5);

                // Clear the list before inserting next batch of genres into HTML
                listElem.innerHTML = "";

                // List style for genre predictions
                // for (const key of Object.keys(displayGenres)) {
                //     listElem.insertAdjacentHTML('beforeEnd', `<li><span class="genre-name">${key}</span><span class="genre-score">${displayGenres[key]}</span></li>`);
                // };

                const ctx = document.getElementById('genre-chart');

                // Chart style for genre predictions
                new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: Object.keys(displayGenres),
                      datasets: [{
                        label: 'Percent Likelihood',
                        data: Object.values(displayGenres),
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(201, 203, 207, 0.2)'
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1
                      }]
                  },
                  options: {
                    plugins: {
                      legend: {
                        labels: {
                          color: '#bfd2ff'
                        }
                      }
                    },
                    scales: {
                      y: {
                        beginAtZero: true,
                        grid: {
                          color: '#343434'
                        },
                        ticks: {
                          color: '#bfd2ff'
                        }
                      },
                      x: {
                        grid: {
                          color: '#343434'
                        },
                        ticks: {
                          color: '#bfd2ff'
                        }
                      }
                    }
                  }
                });

                // Change cursor back to normal after model completes prediction
                console.log("got here");
                document.body.className = '';

              })
              .catch(error => console.log(error))
        })
      </script>
</body>
</html>